li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}

/* textarea {
  width: 60%;
  height: 100px;
} */

/* input {
  width: 60%;
} */

/* p {
  width: 30%;
} */

body {
  font-family: 'Sarabun', sans-serif;
}

input[type=text1] {
  width: 80%;
}

/* *::selection {
  background: #3300c0;
  color: white;
} */

/* *::-moz-selection {
  background: #3300c0;
  color: white;
}

*::-webkit-selection {
  background: #3300c0;
  color: white;
} */

@media all
{
    .page-break { display:none; }
    .page-break-no{ display:none; }
}
@media print
{
    .page-break { display:block;height:1px; page-break-before:always; }
    .page-break-no{ display:block;height:1px; page-break-after:avoid; } 
}