li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}

/* textarea {
  width: 60%;
  height: 100px;
} */

/* input {
  width: 60%;
} */

/* p {
  width: 30%;
} */

body {
	font-family: 'Sarabun', sans-serif;
}

input[type=text1] {
  width: 70%;
}